.division_hintwrapper{
    display: grid;
    place-items: center;
    font-size: var(--body);
    font-weight: 800;

    & .open {
        display: block;
    }

    & .close {
        display: none;
    }

    & .answer {

    }
}

