.division_hintwrapper{
    display: grid;
    place-items: center;
    font-size: var(--body);
    font-weight: 800;
    margin: var(--space-xs) 0 var(--space-xs) 0;

    & button {
        transition: all .3s;
        background-color: #fff100;
        border-bottom: 3px solid #ccc100;
        
        &:hover {
            cursor: pointer;
            color: #000;
            background: #fff20a;

        }
    }

    & .answer {
        color: blueviolet;
    }
}

