.gameContainer {
    display: grid;
    place-items: center;
    font-size: var(--body);
    font-weight: 800;
    margin-top: var(--space-md);
    margin-bottom: var(--space-md);

    & h1 {
        font-weight: 900;
    }

    & .rules {
        background: linear-gradient(180deg, transparent, transparent,#45f3ff,plum, orchid);
        border: 5px ridge crimson;
        border-radius: 30px;
        padding: var(--space-xs);
        margin-bottom: var(--space-xs);

        & .item > * + *  {
            margin-bottom: 1em;
        }
    }
    
    & .response{
        color: crimson;
        font-size: var(--heading2);

        &::before {
            content:"Response:";
            color: black;
            font-size: var(--heading2);
        }
    }
}