.btn {
    all: unset;
    cursor: pointer;
    transition: all .3s;
    font-size: var(--heading2);
    margin: var(--space-xs) 0 var(--space-xs) 0;
    background-color: gold;
    padding: var(--space-xs);
    border-radius: 20px;
    border: 1px solid gray;
    border-bottom: 4px solid gray;

    &:hover {
        color: crimson;
    }
}