.primenumber_hintwrapper {
    display: grid;
    place-items: center;
    font-size: var(--body);
    font-weight: 800;

    & button {
        transition: all .3s;
        background-color: #fff100;
        border-bottom: 3px solid #ccc100;
        
        &:hover {
            cursor: pointer;
            background: #fff20a;
        }
    }
}