.decomposition_hintwrapper {
    display: grid;
    place-items: center;
    font-size: var(--body);
    font-weight: 800;
    margin: var(--space-xs) 0 var(--space-xs) 0;

    & p {
        color: red;
        text-align: center;
    }

    & button {
        transition: all .3s;
        background-color: #fff100;
        border-radius: 10px;
        border: 2px ridge gold;
        
        &:hover {
            cursor: pointer;
            background: #fff20a;
            border: 2px solid silver;
        }
    }
}